/* table .MuiTableCell-root {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;

} */

tr:hover {
    background-color: rgb(240, 240, 240);
}

/* Exclude th elements from the hover effect */
tr:hover th {
    background-color: white;
    /* Or specify the default background color for th elements */
}

.archived-cell {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.archived-cell-head {
    padding-top: 0.7em !important;
    padding-bottom: 0.7em !important;
}